# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# FAISS Vector Index Directory
faiss_index/

# Logs
*.log

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
